<div class="modal modal-white" id="write-instructions-modal">
    <div class="modal-actions">
        <div class="modal-close"><i class="icon-close"></i></div>
    </div><!-- / .modal-actions -->

    <div class="modal-container modal-bounce">
        <h2>Write instructions</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in id est laborum.</p>

        <a class="button button-border-green write-instructions-got-it" href="{{ url('faq#write-instructions') }}" title="Story instructions" target="_blank">Read instructions</a>
    </div>
</div>
