<div class="modal modal-white" id="member-cta-modal">
    <div class="modal-actions">
        <div class="modal-close icon-close"></div>
    </div><!-- / .modal-actions -->

    <div class="modal-container modal-bounce">
        <h2>You need to be logged in</h2>

        <p>To perform this action you need to be logged in</p>

        <div class="member-cta-btns">
            <a class="button button-border-green" href="{{ url('signup') }}" title="Signup now">Signup</a>
            <span class="or">or</span>
            <a class="button button-border-green" href="{{ url('login') }}" title="Login">Login</a>
        </div>
    </div>
</div>
