/* -------------------------------------------------------------- 
	Fonts
-------------------------------------------------------------- */
@font-face {
    font-family: "short-stories-icons";
    src: url("../fonts/icons/short-stories.eot");
    src: url("../fonts/icons/short-stories.eot?#iefix") format("embedded-opentype"),
         url("../fonts/icons/short-stories.woff") format("woff"),
         url("../fonts/icons/short-stories.ttf") format("truetype"),
         url("../fonts/icons/short-stories.svg#short-stories") format("svg");
    font-style: normal;
    font-weight: normal;
}