/*** Main header ***/
.mn-hdr {
	background-color: $green;
    padding: 10px 20px;

    @media #{$bp-medium} {
        padding: 20px 30px;
    }

	&--home {
		background-image: url('../graphics/home-hero.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto 100%;
	}
	&-inner {
		@include clearfix;
	}

	&-right {
		@media #{$bp-medium} {
			margin-top: 4px;
		}

	    .button {
		    font-size: 1.1rem;
	        margin-left: 10px;
	    }
	}

	.my-account-btn {
		margin-right: 10px;
		position: relative;
		top: 1px;

		.hdr-profile-img {
			@include size(33px);
	        border: 1px solid $white;
			display: block;
		}
	}
	.my-account-dd {
		@include absolute(top 40px left -60px);
		background: $white;
		border-radius: 3px;
		box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
		display: none;
		padding: 5px 10px;
		width: 160px;
		z-index: 10;

		a {
			border-bottom: 1px solid $grey-lighter;
	        color: $grey-dark;
			display: block;
	        font-size: 1.3rem;
			padding: 7px 0;
			text-align: center;
			width: 100%;

			&:last-child {
				border-bottom: none;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}
