
/*** Modal ***/
.modal {
    @include fixed(top 0 right 0 bottom 0 left 0);
    @include size(100%);
    background: rgba(0, 0, 0, .9);
    display: none;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 20px;
    z-index: 1000;

    &.showee {
	    display: block;

        .modal-bounce {
            animation: modal-scale-fade 300ms forwards cubic-bezier(.8, .02, .45, .91);
    	    transform-origin: bottom center;
	    }
    }
    &.modal-white {
        background: rgba(255, 255, 255, .96);

        .modal-close {
            color: $grey-darker;
        }
    }

    .modal-close {
        cursor: pointer;
        display: inline-block;
    }
    .modal-container {
        margin: 0 auto 20px;
        max-width: 500px;
        padding: 0 20px;

        @media only screen and (max-width: 767px) and (orientation: landscape) {
            @include when-inside('.touch') {
                margin-bottom: 30px;
                margin-top: 120px;
            }
        }
    }
    .modal-bounce {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }

    h2 {
		font-size: 2.7rem;
        margin-bottom: 30px;
	}
}
.modal-general {
    cursor: pointer;
}
.modal-content {
    background: $white;
    border-radius: 2px;
    cursor: default;
    font-size: 1.4rem;
    margin: 80px auto;
    max-width: 600px;
    padding: 40px;
    text-align: center;
    width: 100%;
}
.modal-actions {
    @include absolute(top 0 right 0);
    color: $white;
    cursor: pointer;
    font-size: 1.6rem;
    margin: 20px 10px 0 0;
    padding: 10px 20px;

    .button,
    .modal-close {
        display: inline-block;
        margin-left: 20px;
    }
}
