<div class="search-box">
    <div class="search-box__close icon-close"></div>

    <form action="{{ url('search') }}" role="search" aria-label="site">
        <input type="search" name="q" placeholder="Search">
        {#<button class="button">Search</button>#}
    </form>
</div>
